#root {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../src/backgrounds/background3.jpg");
  
  /* background-color: black; */
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  transition: 1s;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrap {
  display: flex;
  flex-direction: row;
  min-height: 60vh;
  width: 90%;
  margin: auto;
};

.right-side {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
}
.right-side .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}



@media screen and (max-width: 480px) {
  body{
    background: rgb(61, 61, 61);
  }
}
